 # CSV files
*.csv

# JSON files
*.json

# JPEG files
*.jpg
*.jpeg

*.DS_Store

*.sqlite3

*.joblib

/work/optuna_artifacts/
C:\Users\Gloria\Documents\AUSTRAL\LAB2\UA_MDM_Labo2_Grupo12\tutoriales\04_Tabulares.ipynb